mat-card {
  display: inline-flex;
  width: 40%;
  height: 800px;
}
.mat-icon {
  vertical-align: middle;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 3;
}
table {
  width: 590px;
}
html {
  font-family: 'Open Sans', sans-serif;
}
